// Declarations
$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$paragraph-font-size: 1.05rem;
$text-field-font-size: 1rem;
$rounded-radius: 100rem;
$slightly-rounded-radius: 0.75rem;
$attention-button-radius: 0.85rem;
$medium-div-margin-block: 1.75rem;
$body-standard-margin: 2.5rem 5%;
$body-standard-margin-inline: 5%;
$hyperlink-margin-block: 0.75rem;
$attention-button-padding: 1rem 0px;
$text-field-icon-color: invert(53%) sepia(4%) saturate(244%) hue-rotate(201deg) brightness(96%) contrast(84%);
$text-field-color: #F2F2F6;
$unselected-icon-color: invert(71%) sepia(0%) saturate(2028%) hue-rotate(183deg) brightness(85%) contrast(92%);;
$unselected-color: #999999;
$modal-text-color: #85858A;
$input-span-color: #BCBCC1;
$hyperlink-color: #3478F6;
$backdrop-transparentize: transparentize($color: $text-field-color, $amount: 0.145);
$backdrop-blur: blur(10px);
$backdrop-blur-alert: blur(1rem);
$webkit-tap-highlight-color: transparentize($color: white, $amount: 0.8);
$webkit-tap-highlight-color-dark: transparentize($color: black, $amount: 0.8);

@mixin font-padding {
    margin: 0.325rem 5%;
}

@mixin icon {
    width: 1rem;
    padding-inline: 0.35rem;
    // padding-inline: 2%;
}

// Styling
* {
    user-select: none;
}

html {
    min-height: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: stretch;
}

body {
    margin: $body-standard-margin;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 100%;
    // height: 100%;
    flex: 1;
}

body#login {
    margin: 0px 5% 2rem;
    // margin-top: -44.125%;
    justify-content: start;
    h1, h2, p, a {
        @include font-padding();
    }
}

h1, h2, h3, p, a, button, label, input[type="submit"] {
    // @include font-padding();
    margin-block: 0.25rem;
    font-family: $font;
    user-select: none;
}

h1 {
    font-size: 2.1rem;
    letter-spacing: 0.175px;
}

h3 {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0.35rem 5.5%;
    letter-spacing: -0.45px;
    word-spacing: 1.25px;
    color: $unselected-color;
}

p {
    line-height: 1.45rem;
    letter-spacing: 0.0475px;
}

label {
    font-size: 1.05rem;
    letter-spacing: 0px;
    margin: 0px;
    align-self: center;
    margin-inline: 5.5%;
    font-weight: 600;
}

img {
    user-select: none;
    pointer-events: none;
}

p, a, button, input[type="submit"] {
    font-size: $paragraph-font-size;
    text-decoration: none;
    color: inherit;
}

a {
    color: $hyperlink-color;
    text-align: center;
    margin-block: $hyperlink-margin-block;
}

div, form, header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
}

section {
    margin-inline: 0px;
    width: 100%;
}

#hd1 {
    background-color: #ffffffee;
    backdrop-filter: $backdrop-blur;
    justify-content: space-between;
    height: 2.75rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
    p {
        text-align: center;
        font-weight: 650;
        font-size: 1rem;
        margin-block: 0.5rem;
    }
}

footer {
    display: flex;
    width: 100% - 10%;
    position: fixed;
    bottom: 0;
    border-top: 0.5px solid $unselected-color;
    padding: 0.1rem 5%;
    justify-content: space-around;
    background-color: #ffffffee;
    backdrop-filter: $backdrop-blur;
    .footer-icon {
        width: 1.5rem;
        padding-block: 0.275rem;
    }
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.65rem;
        font-weight: 500;
        margin: 0px;
        flex: 1;
        img {
            filter: $unselected-icon-color;
        }
        color: $unselected-color;
    }
}

.img-reference {
    z-index: 99;
    position: fixed;
    width: 100%;
    opacity: 50%;
    // bottom: -25%;
    left: 0px;
    // mix-blend-mode: difference;
}

.visible {
    visibility: hidden;
}

.backdrop {
    // z-index: 99;
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    // mix-blend-mode: difference;
}

#head-elements {
    margin-block: 1rem;
    display: flex;
}

div.line {
    padding-block: 0.125rem;
    border-bottom: $unselected-color solid 0.5px;
}

.special-heading {
    display: flex;
    align-items: center;
    margin-block: $medium-div-margin-block;
    width: 100%;
    h1, h2, p {
        text-align: center;
    }
    .icon {
        width: 5rem;
        filter: drop-shadow(0px 0px 10px #0000001a);
        margin-block: 0.25rem;
    }
}

.checklists {
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
}

.attention-button {
    width: calc(100% - ($body-standard-margin-inline * 2));
    -webkit-tap-highlight-color:  $webkit-tap-highlight-color;
    background-color: $hyperlink-color;
    color: white !important;
    font-weight: 600;
    border: none;
    padding: $attention-button-padding;
    border-radius: $attention-button-radius;
    position: absolute;
    bottom: 0%;
    margin: $body-standard-margin !important;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0px !important;
    }
    .loading-wheel {
        filter: brightness(2);
        width: 1.25rem;
    }
}

div.alertContainer {
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    animation: alertInContainer 0.2s ease-out;
    #alert {
        background-color: transparentize($color: $text-field-color, $amount: 0.145);
        backdrop-filter: $backdrop-blur;
        // background-color: red;
        border-radius: 0.85rem;
        position: fixed;
        width: calc((100% - (7.75%) * 2));
        height: 9.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        animation: alertIn 0.2s ease-out;
        #alertMessage {
            padding-top: 1.25rem;
            width: fit-content;
            padding-inline: 7.5%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        #messageTitle {
            font-family: $font;
            font-size: $paragraph-font-size;
            font-weight: 600;
            text-align: center;
            margin: 0px;
        }
        #messageBody {
            text-align: center;
            margin: 0px;
            padding-top: 0.2rem;
            font-size: 0.8rem;
            word-spacing: 0.25px;
            line-height: 1rem;
        }
        .alertButton {
            // -webkit-tap-highlight-color: $webkit-tap-highlight-color-dark;
            border-bottom-left-radius: $slightly-rounded-radius;
            border-bottom-right-radius: $slightly-rounded-radius;
            background-color: transparent;
            border: none;
            margin: 0px;
            padding: 0px;
            width: 100%;
            flex: 1;
            color: $hyperlink-color;
        }
        #alertOptions {
            // background-color: red;
            height: 2.75rem;
            border-top: $input-span-color 0.5px solid;
            display: flex;
            align-items: center;
        }
    }
}

.info-container.form {
    // margin-inline: 5%;
    // margin-block: 0rem;
    // margin-block: $medium-div-margin-block;
    width: 100%;
    align-items: center;
    .input {
        flex-direction: row;
        background-color: $text-field-color;
        display: flex;
        label {
            min-width: 22.5%;
            max-width: 22.5%;
        }
        input.input {
            background-color: transparent;
            border: none;
            padding: 0.75rem 2.5%;
            font-size: $text-field-font-size;
            font-family: $font;
            letter-spacing: 0.25px;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
        }
        #input::placeholder {
            color: $input-span-color;
        }
    }
    input:focus, input:hover, input:active
    {
        outline: none;
    }
}

.info-container {
    .input {
        margin-block: 0px;
        label {
            font-weight: 600;
        }
    }
    > div {
        border-radius: 0px;
        flex-direction: row;
        background-color: $text-field-color;
        display: flex;
        label {
            min-width: 22.5%;
            max-width: 22.5%;
            font-weight: normal;
        }
        .value {
            background-color: transparent;
            border: none;
            margin: 0.75rem 5.5% !important;
            font-size: $text-field-font-size;
            font-family: $font;
            letter-spacing: 0.25px;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
            text-align: right;
            color: $unselected-color;
        }
    }
    > div:nth-of-type(1) {
        border-top-left-radius: $slightly-rounded-radius;
        border-top-right-radius: $slightly-rounded-radius;
    }
    > div:nth-last-of-type(1) {
        border-bottom-left-radius: $slightly-rounded-radius;
        border-bottom-right-radius: $slightly-rounded-radius;
    }
    .info-span {
        min-height: 0.5px;
        max-height: 0.5px;
        position: relative;
        margin-bottom: -0.5px;
        background-color: $input-span-color;
        width: 97.25%;
        left: 1.375%;
    }
}

.input {
    margin-block: $medium-div-margin-block;
    border-radius: $slightly-rounded-radius;
    .icon {
        filter: invert(53%) sepia(4%) saturate(244%) hue-rotate(201deg) brightness(96%) contrast(84%);
        margin-inline: 1.25%;
    }
}

.icon {
    @include icon;
}

.loading-wheel {
    width: 1rem;
    animation: loadingWheel 1s steps(8, end) infinite;
}

.dismissed {
    animation: alertOut 0.2s ease-out !important;
    animation-delay: 0.05s !important;
}

.tapped {
    animation: buttonTapDark 0.05s steps(1, end) !important;
}

@keyframes loadingWheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes alertIn {
    0% {
        opacity: 0%;
        transform: scale(1.15);
    }
    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes alertInContainer {
    0% {
        opacity: 0%;
    }    
    100% {
        opacity: 100%;
    }
}

@keyframes alertOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes buttonTapDark {
    0% {
        background-color: $webkit-tap-highlight-color-dark;
    }
    100% {
        background-color: initial;
    }
}

*:focus, *:hover, *:active, * {
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
